<body>

</body>
<template name="master">
	<div class="wrapper">
		{{> header_master}}
		<div class="content-wrapper">
			<section class="content">
				{{> flashMessages}}
				{{#if currentRoute 'atSignIn'}}
					<div class="row">
						{{> yield}}
					</div>
				{{else}}
					<div class="row">
						<div class="col-md-9">			
							{{> yield}}
						</div>
						<div class="col-md-3">
							{{> sidebar}}
						</div>
					</div>
				{{/if}}				
			</section>
	                
	        {{> footer_master}}
        </div>		
	</div>	
</template>