<template name="adminHome">
	<section class="content-header">
          <h1>
            Aroma Holdings
            <small>Control Panel</small>
          </h1>
          <ol class="breadcrumb">
            <li><a href="/admin" class="active"><i class="fa fa-dashboard"></i> Home</a></li>
            <!-- <li><a href="#">UI</a></li>
            <li class="active">General</li> -->
          </ol>
    </section>
	<section class="content">
		<div class="row">
            <div class="col-lg-3 col-xs-6">
              <!-- small box -->
              <div class="small-box bg-aqua">
                <div class="inner">
                  <h3>{{departmentCount}}</h3>
                  <p>Departments</p>
                </div>
                <div class="icon">
                  <i class="fa fa-building-o"></i>
                </div>
                <a href="/admin/departments" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
              </div>
            </div><!-- ./col -->
            <div class="col-lg-3 col-xs-6">
              <!-- small box -->
              <div class="small-box bg-green">
                <div class="inner">
                  <h3>{{serviceCount}}</h3>
                  <p>Services</p>
                </div>
                <div class="icon">
                  <i class="fa fa-gears"></i>
                </div>
                <a href="/admin/services" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
              </div>
            </div><!-- ./col -->
            <div class="col-lg-3 col-xs-6">
              <!-- small box -->
              <div class="small-box bg-yellow">
                <div class="inner">
                  <h3>{{staffCount}}</h3>
                  <p>Staff Members</p>
                </div>
                <div class="icon">
                  <i class="fa fa-users"></i>
                </div>
                <a href="/admin/staff" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
              </div>
            </div><!-- ./col -->
            <div class="col-lg-3 col-xs-6">
              <!-- small box -->
              <div class="small-box bg-red">
                <div class="inner">
                  <h3>{{pageCount}}</h3>
                  <p>Pages</p>
                </div>
                <div class="icon">
                  <i class="fa fa-file-word-o"></i>
                </div>
                <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
              </div>
            </div><!-- ./col -->
            <div class="col-lg-3 col-xs-6">
              <!-- small box -->
              <div class="small-box bg-navy">
                <div class="inner">
                  <h3>{{carouselCount}}</h3>
                  <p>Image Sliders</p>
                </div>
                <div class="icon">
                  <i class="fa fa-image"></i>
                </div>
                <a href="/admin/carousel" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
              </div>
            </div><!-- ./col -->
            <div class="col-lg-3 col-xs-6">
              <!-- small box -->
              <div class="small-box bg-teal">
                <div class="inner">
                  <h3>{{calloutCount}}</h3>
                  <p>Callouts</p>
                </div>
                <div class="icon">
                  <i class="fa fa-comments-o"></i>
                </div>
                <a href="/admin/callouts" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
              </div>
            </div><!-- ./col -->
          </div>
	</section>
</template>