<template name="departmentShow">
  {{#with departments}}
	<div class="box box-widget">
        <div class="box-header with-border">
          <div class="user-block">
            <span class="username"><a href="/services">{{name}}</a></span>
            <span class="description">{{title}}</span>
          </div><!-- /.user-block -->
        </div><!-- /.box-header -->
        <div class="box-body">
          {{#if image}}
          <img class="thumbnail img-responsive pad" src="{{image}}" alt="Photo">
          {{/if}}          
          {{{desc}}}
          {{#if services}}
            <h3>Services</h3>
             <ul class="nav nav-pills nav-stacked">
                    {{#each services}}
                    <li class=""><a href="/services/{{_id}}">{{name}}</a></li>
                    {{/each}}                    
            </ul>
          {{/if}}
          
        </div><!-- /.box-body -->
        <div class="box-footer">
          <p class="text-muted">
            <small>Please take a moment to browse the site, if you need any further information then please contact us on: <a href="#">info@aromaholdings.com</a></small>
          </p>
        </div><!-- /.box-footer -->
    </div>
    {{/with}}
</template>