<template name="serviceShow"> 
	<div class="box box-solid box-primary">
        <div class="box-header">
          <h4 class="box-title">{{name}}</h4>
        </div><!-- /.box-header -->
        <div class="box-body">
          {{#if image}}
          <img class="thumbnail img-responsive" src="{{image.path}}" alt="{{name}}">
          {{/if}}          
          {{{desc}}}
          <p>&nbsp;</p>
         <p class="text-center">
          {{#each banner}}
            <a href="/services/{{link}}"><img src="{{image.path}}" alt=""></a>
          {{/each}}
         </p>
         <hr>          
        </div><!-- /.box-body -->
        <div class="box-footer">
          <p class="text-muted">
            <small>Please take a moment to browse the site, if you need any further information then please contact us on: <a href="#">info@aromaholdings.com</a></small>
          </p>
        </div><!-- /.box-footer -->
    </div>    
</template>