<template name="footer_master">
	<footer class="main-footer">
        <div class="container">
          <div class="pull-right hidden-xs">
            <small>Design by <b><a href="mailto:mukasap@gmail.com">mukasap</a></b></small>
          </div>
          <strong>Copyright &copy; 2016-2017 <a href="mailto:jimlicia@gmail.com">Aroma Holdings Uganda</a>.</strong> All rights reserved.
           {{#if currentUser}}
              | <a href="#" class="logout">Logout</a>
            {{else}}
              | <a href="/sign-in">Login</a>
            {{/if}}   
        </div><!-- /.container -->
      </footer>
</template>