<template name="pagesShow">
	{{#if Template.subscriptionsReady}}
		<div class="box box-solid">
      <div class="box-header bg-blue">
        <h4 class="box-title">{{title}}</h4>
      </div><!-- /.box-header -->
      <div class="box-body">
        {{#if image}}
        <img class="thumbnail img-responsive pad" src="{{image}}" alt="Photo">
        {{/if}}
        {{{body}}}
        <p></p>
       	{{> Banner768}}
      </div><!-- /.box-body -->
      <div class="box-footer">
        <p class="text-muted">
          <small>Please take a moment to browse the site, if you need any further information then please contact us on: <a href="#">info@aromaholdings.com</a></small>
        </p>
      </div><!-- /.box-footer -->
	  </div>
	{{else}}
		{{> spinner}}
	{{/if}}
</template>
