<template name="pagesShow">
	{{#if Template.subscriptionsReady}}
		<div class="box box-solid">
      <div class="box-header bg-maroon">
        <h4 class="box-title">{{title}}</h4>
      </div><!-- /.box-header -->
      <div class="box-body">
        {{#if image}}
        <img class="thumbnail img-responsive pad" src="{{image}}" alt="Photo">
        {{/if}}
        {{{body}}}
        <p>&nbsp;</p>
       <p class="text-center">
        {{#each banner}}
          <a href="/services/{{link}}"><img src="{{image.path}}" alt="{{name}}"></a>
        {{/each}}
       </p>
       <hr>
      </div><!-- /.box-body -->
      <div class="box-footer">
        <p class="text-muted">
          <small>Please take a moment to browse the site, if you need any further information then please contact us on: <a href="#">info@aromaholdings.com</a></small>
        </p>
      </div><!-- /.box-footer -->
	  </div>
	{{else}}
		{{> spinner}}
	{{/if}}
</template>
