<template name="header_master">	
      <header class="main-header">
        <nav class="navbar navbar-static-top">
          <div class="container">
            <div class="navbar-header">
              <a href="{{pathFor 'home'}}" class="navbar-brand"><b>Aroma Holdings Uganda</b></a>
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
                <i class="fa fa-bars"></i>
              </button>
            </div>
          	<div id="navbar" class="navbar-collapse collapse">
              <ul class="nav navbar-nav pull-right">
                <li><a href="/pages/about-us">About us</a></li>
                {{#each pages}}
                <li><a href="/page/{{_id}}">{{name}}</a></li>
                {{/each}}
                {{#each departments}}
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">{{name}} <span class="caret"></span></a>
                  {{#if services}}
                  <ul class="dropdown-menu" role="menu">
                    {{#each services}}
                        <li><a href="{{pathFor 'service.show'}}">{{name}}</a></li>
                      {{/each}}
                  </ul>
                  {{/if}}
                </li>
                {{/each}}                            
              </ul>
            </div>
          </div><!-- /.container-fluid -->
        </nav>
      </header>
</template>