<template name="sidebar_dashboard">
	 <!-- Left side column. contains the sidebar -->
      <aside class="main-sidebar">
        <!-- sidebar: style can be found in sidebar.less -->
        <section class="sidebar">
          <!-- Sidebar user panel -->
          <ul class="sidebar-menu">
            <li class="header">MAIN NAVIGATION</li>
            <li>
              <a href="/admin">
                <i class="fa fa-dashboard"></i> <span>Administration</span> 
              </a>
            </li>
            <li><a href="/admin/departments"><i class="fa fa-building"></i> Departments</a></li>
            <li><a href="/admin/services"><i class="fa fa-gears"></i> Services</a></li>
            <li><a href="/admin/staff"><i class="fa fa-users"></i> Staff</a></li>
            <li><a href="/admin/carousel"><i class="fa fa-image"></i> Image Slider</a></li>
            <li><a href="/admin/pages"><i class="fa fa-file-word-o"></i> Pages</a></li>          
            <li><a href="/admin/callouts"><i class="fa fa-comments-o"></i> Callouts</a></li>          
            <li><a href="/admin/feedback"><i class="fa fa-commenting"></i> Feed Back</a></li>          
            <li><a href="/admin/tip"><i class="fa fa-quote-right"></i> Tip of Day</a></li>          
            <li><a href="/admin/docs"><i class="fa fa-book"></i> <span>Documentation</span></a></li>
            <li class="header">Website</li>
            <li><a href="/"><i class="fa fa-eye text-yellow"></i> <span>Preview</span></a></li>
            <!-- <li><a href="#"><i class="fa fa-circle-o text-yellow"></i> <span>Warning</span></a></li>
            <li><a href="#"><i class="fa fa-circle-o text-aqua"></i> <span>Information</span></a></li> -->
          </ul>
        </section>
        <!-- /.sidebar -->
      </aside>
</template>