<template name="sidebar_dashboard">
	 <!-- Left side column. contains the sidebar -->
      <aside class="main-sidebar">
        <!-- sidebar: style can be found in sidebar.less -->
        <section class="sidebar">
          <!-- Sidebar user panel -->
          <ul class="sidebar-menu">
            <li class="header">Content Management</li>
            <li class="{{#if currentRoute 'admin.home'}}active{{/if}}">
              <a href="{{pathFor 'admin.home'}}">
                <i class="fa fa-dashboard"></i> <span>Administration</span> 
              </a>
            </li>
            <li class="{{#if currentRoute 'admin.departments'}}active{{/if}}"><a href="{{pathFor 'admin.departments'}}"><i class="fa fa-building"></i> Departments</a></li>
            <li class="{{#if currentRoute 'admin.services'}}active{{/if}}"><a href="{{pathFor 'admin.services'}}"><i class="fa fa-gears"></i> Services</a></li>
            <li class="{{#if currentRoute 'admin.staff'}}active{{/if}}"><a href="{{pathFor 'admin.staff'}}"><i class="fa fa-users"></i> Staff</a></li>
            <li class="{{#if currentRoute 'admin.carousel'}}active{{/if}}"><a href="{{pathFor 'admin.carousel'}}"><i class="fa fa-image"></i> Image Slider</a></li>
            <li class="{{#if currentRoute 'admin.pages'}}active{{/if}}"><a href="{{pathFor 'admin.pages'}}"><i class="fa fa-file-word-o"></i> Pages</a></li>   
            <li class="header">Marketing Tools</li>       
            <li class="{{#if currentRoute 'admin.callouts'}}active{{/if}}"><a href="{{pathFor 'admin.callouts'}}"><i class="fa fa-comments-o"></i> Callouts</a></li>          
            <li class="{{#if currentRoute 'admin.feedback'}}active{{/if}}"><a href="{{pathFor 'admin.feedback'}}"><i class="fa fa-commenting"></i> Feed Back</a></li>          
            <li class="{{#if currentRoute 'admin.tips'}}active{{/if}}"><a href="{{pathFor 'admin.tips'}}"><i class="fa fa-quote-right"></i> Tip of Day</a></li>      
            <li class="{{#if currentRoute 'admin.banners'}}active{{/if}}"><a href="{{pathFor 'admin.banners'}}"><i class="fa fa-image"></i> Banners</a></li>    
            <li><a href="/change-password"><i class="fa fa-lock text-aqua"></i> <span>Change Password</span></a></li>
            <li><a href="{{pathFor 'home'}}"><i class="fa fa-eye text-yellow"></i> <span>Preview Website</span></a></li>
          </ul>
        </section>
        <!-- /.sidebar -->
      </aside>
</template>