<template name="adminDocs">
	<section class="content-header">
          <h1>
            Aroma Holdings
            <small>Control Panel</small>
          </h1>
          <ol class="breadcrumb">
            <li><a href="/admin" class="active"><i class="fa fa-dashboard"></i> Home</a></li>
            <!-- <li><a href="#">UI</a></li>-->
            <li class="active">Documentation</li> 
          </ol>
    </section>
	<section class="content">
		<h3>Documentation</h3>
    TODO
	</section>
</template>