<template name="adminBanners">
	<section class="content-header">
          <h1>
            Aroma Holdings
            <small>Control Panel</small>
          </h1>
          <ol class="breadcrumb">
            <li><a href="/admin"><i class="fa fa-dashboard"></i> Home</a></li>
            <!-- <li><a href="#">UI</a></li> -->
            <li class="active">Banner</li>
          </ol>
    </section>
	<section class="content">
		<div class="box box-info">
            <div class="box-header with-border">
              <h3 class="box-title">Banner <small>(List all)</small></h3>
              <div class="box-tools pull-right">
                <a href="{{pathFor 'admin.banners.add'}}" class="btn btn-primary btn-sm" ><i class="fa fa-plus-circle"></i> Add</a>
              </div>
            </div>
            <div class="box-body">
                {{#if Template.subscriptionsReady}}
					<table class="table table-hover">
						<thead>
							<tr>
								<th>Title</th>
								<th>Banner</th>
								<th>Updated</th>
								<th></th>
							</tr>
						</thead>
						<tbody>
							{{#each banners}}
							<tr>
								<td>{{name}}</td>
								<td>{{#if image}} <img src="{{image}}" alt="" style="height: 25px">{{/if}}</td>
								<td>{{prettyDate updatedAt 'long'}}</td>
								<td>
									<a href="{{pathFor 'admin.banners.edit'}}" class="btn btn-default btn-sm">Edit</a>
									<a href="#" class="btn btn-default btn-sm delete">Delete</a>
								</td>
							</tr>
							{{else}}
								<h3>No Banner</h3>
							{{/each}}
						</tbody>
					</table>
				{{else}}
					<h3>Loading....</h3>
				{{/if}}
            </div>
            <div class="box-footer">
            	<span class="text-muted">
            		<i class="fa fa-clock-o"></i> 
            		<small>{{currentDate}}</small>
            	</span>
            	<a href="/" class="pull-right"><small>Aroma Holdings | Home</small></a>
            </div>
        </div>
	</section>
</template>